.b1 {
    background: red;
}
.b2 {
    background: blue;
}
.b3 {
    background: green;
}
.b4 {
    background: yellow;
}
.b5 {
    background: orange;
}
.b6 {
    background: purple;
}
.b7 {
    background: pink;
}
.b8 {
    background: brown;
}
